In [11]:
from __future__ import unicode_literals
%load_ext autoreload
%autoreload 2
%matplotlib inline
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import date as dt, timedelta
from typing import List
from google.cloud import firestore
from functools import reduce
import time
import base64
import sys
import math

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
%env GOOGLE_APPLICATION_CREDENTIALS="/Users/marcelcanhisares/Development/tcc/keys/mc-tcc1-2893283b8dce.json"

env: GOOGLE_APPLICATION_CREDENTIALS="/Users/marcelcanhisares/Development/tcc/keys/mc-tcc1-2893283b8dce.json"

In [3]:
%ls /Users/marcelcanhisares/Development/tcc/keys/

mc-tcc1-2893283b8dce.json

In [4]:
DB = firestore.Client.from_service_account_json("/Users/marcelcanhisares/Development/tcc/keys/mc-tcc1-2893283b8dce.json")

In [5]:
collection = DB.collection('analytics').stream()

In [17]:
mytime = datetime.strptime('0130','%H%M').time()

In [58]:
initialDate = datetime.strptime('Jun 1 2020  12:00AM', '%b %d %Y %I:%M%p')
endDate = initialDate + timedelta(days=1)

initialDate, endDate

(datetime.datetime(2020, 6, 1, 0, 0), datetime.datetime(2020, 6, 2, 0, 0))

In [59]:
collection = DB.collection('tweets').where("date", ">=", initialDate).where("date", "<=", endDate).order_by("date", "ASCENDING").stream()

In [60]:
tweets = []
for document in collection:
    tweets.append(document.to_dict())

In [61]:
tweet_texts = []
for tweet in tweets:
    tweet_texts.append(tweet["full_text"])

In [66]:
len(tweet_texts)

812

In [65]:
no_dupes = list(set(tweet_texts))

In [67]:
len(no_dupes)

689

In [73]:
a = set()
a.add(1)
a.add(2)
a.add(1)
len(a)

2

In [74]:
initialDate = datetime.strptime('May 1 2020  12:00AM', '%b %d %Y %I:%M%p')
finalDate = datetime.strptime('Jun 1 2020  12:00AM', '%b %d %Y %I:%M%p')
listCounts = []
# while initialDate < finalDate:
endDate = initialDate + timedelta(days=30)
collection = DB.collection('tweets').where("date", ">=", initialDate).where("date", "<=", endDate).order_by("date", "ASCENDING").stream()
tweets = set()
for document in collection:
    tweets.add(document.to_dict()["full_text"])
len(tweets)
#     initialDate = initialDate + timedelta(days=1)

16426

In [ ]:
no_dupes

In [148]:
from numpy.random import randint

def getResultsForDay(date):
    consolidated = list(randint(1, size=8))
    numberofelements = 600
    for i in range(0, 600):
        results = list(randint(2, size=8))
        consolidated = [sum(x) for x in zip(results, consolidated)]
    consolidated[:] = [x / numberofelements for x in consolidated]
    consolidated.append(date)
    return consolidated

In [157]:
initialDate = datetime.strptime('May 1 2020  12:00AM', '%b %d %Y %I:%M%p')
df = pd.DataFrame(columns=['JOY', 'SAD','TRU', 'DIS', 'ANT', 'SUR', 'ANG', 'FEA', 'date'])
df

Empty DataFrame
Columns: [JOY, SAD, TRU, DIS, ANT, SUR, ANG, FEA, date]
Index: []

In [158]:
from numpy.random import randint
initialDate = datetime.strptime('May 1 2020  12:00AM', '%b %d %Y %I:%M%p')
finalDate = datetime.strptime('May 25 2020  12:00AM', '%b %d %Y %I:%M%p')

while initialDate < finalDate:     
    df.loc[len(df)] = getResultsForDay(initialDate)
    initialDate = initialDate + timedelta(days=1)

In [159]:
df

,JOY,SAD,TRU,DIS,ANT,SUR,ANG,FEA,date
0,0.503333,0.533333,0.511667,0.520000,0.515000,0.493333,0.475000,0.463333,2020-05-01
1,0.518333,0.480000,0.531667,0.550000,0.520000,0.493333,0.475000,0.470000,2020-05-02
2,0.503333,0.528333,0.528333,0.531667,0.461667,0.501667,0.491667,0.486667,2020-05-03
3,0.503333,0.498333,0.501667,0.495000,0.493333,0.458333,0.531667,0.478333,2020-05-04
4,0.508333,0.503333,0.483333,0.475000,0.510000,0.510000,0.521667,0.496667,2020-05-05
5,0.465000,0.501667,0.526667,0.511667,0.496667,0.491667,0.503333,0.515000,2020-05-06
6,0.486667,0.496667,0.495000,0.505000,0.516667,0.526667,0.470000,0.475000,2020-05-07
7,0.470000,0.478333,0.493333,0.518333,0.460000,0.498333,0.515000,0.491667,2020-05-08
8,0.513333,0.485000,0.546667,0.496667,0.523333,0.486667,0.485000,0.526667,2020-05-09
9,0.521667,0.493333,0.500000,0.508333,0.496667,0.506667,0.476667,0.498333,2020-05-10
10,0.510000,0.483333,0.526667,0.510000,0.486667,0.506667,0.493333,0.476667,2020-05-11
11,0.498333,0.526667,0.490000,0.518333,0.501667,0.486667,0.486667,0.496667,2020-05-12
12,0.528333,0.501667,0.518333,0.531667,0.498333,0.493333,0.485000,0.520000,2020-05-13
13,0.531667,0.453333,0.483333,0.471667,0.495000,0.496667,0.520000,0.480000,2020-05-14
14,0.506667,0.490000,0.536667,0.483333,0.483333,0.486667,0.526667,0.473333,2020-05-15
15,0.506667,0.495000,0.510000,0.496667,0.513333,0.496667,0.503333,0.526667,2020-05-16
16,0.500000,0.488333,0.505000,0.481667,0.520000,0.488333,0.478333,0.523333,2020-05-17
17,0.516667,0.491667,0.531667,0.490000,0.498333,0.475000,0.515000,0.505000,2020-05-18
18,0.513333,0.521667,0.498333,0.498333,0.526667,0.553333,0.513333,0.491667,2020-05-19
19,0.483333,0.515000,0.505000,0.511667,0.471667,0.495000,0.503333,0.543333,2020-05-20
20,0.498333,0.480000,0.515000,0.490000,0.478333,0.485000,0.506667,0.525000,2020-05-21
21,0.518333,0.521667,0.468333,0.486667,0.520000,0.475000,0.491667,0.483333,2020-05-22
22,0.491667,0.508333,0.523333,0.508333,0.485000,0.501667,0.511667,0.465000,2020-05-23
23,0.490000,0.500000,0.493333,0.481667,0.560000,0.498333,0.491667,0.480000,2020-05-24

In [ ]:
to_be_uploaded = df.to_dict('records')
to_be_uploaded

In [156]:
collection = DB.collection('daily_emotions')
for up in to_be_uploaded:
    collection.add(up, up["date"].strftime('%Y-%m-%d'))